@model IEnumerable<DentalInformationSystem.Models.Diagnosis>

@{
    ViewData["Title"] = "Dijagnoze";
}

<h4>Lista dijagnoza</h4>

<p>
    @Html.ActionLink("Unos nove dijagnoze", "Create", "Diagnoses", null, new { @class = "btn btn-primary" })
</p>

<table class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DiagnosisCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiagnosisNameSrb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DiagnosisNameLatin)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnosisCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnosisNameSrb)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DiagnosisNameLatin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DiagnosisID">Izmeni</a> |
                @*<a asp-action="Details" asp-route-id="@item.DiagnosisID">Detalji</a> |*@
                <a asp-action="Delete" asp-route-id="@item.DiagnosisID">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
