@model DentalInformationSystem.Models.Protocol

@{
    ViewData["Title"] = "Detalji protokola";
}

<h1>Detalji</h1>

<div>
    <h4>Protokol</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProtocolID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProtocolID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.NameOfOneParent)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.NameOfOneParent)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.YearOfBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.YearOfBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patient.City)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patient.City)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Anamnesis)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Anamnesis)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis.DiagnosisNameSrb)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis.DiagnosisNameSrb)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Diagnosis.DiagnosisNameLatin)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Diagnosis.DiagnosisNameLatin)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Therapy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Therapy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Signet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Signet)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProtocolID" class="btn btn-secondary">Izmeni podatke u protokolu za ovog pacijenta</a>
    @Html.ActionLink("Nazad na protokol", "Index", "Protocols", null, new { @class = "btn btn-secondary" })
</div>
