@model DentalInformationSystem.ViewModels.ProtocolDatesViewModel

@{
    ViewData["Title"] = "Mesečni izveštaj";
    Layout = null;
}

<h1 style="text-align:center">Izveštaj protokola od @Model.StartDate.ToString("dd/MM/yyyy") do @Model.EndDate.ToString("dd/MM/yyyy") </h1>

<style>
    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
        font-size: 20px;
    }

    #RangeProtocol tr:nth-child(even) {
        background-color: #eee;
    }

    #RangeProtocol tr:nth-child(odd) {
        background-color: #fff;
    }

    #RangeProtocol th {
        background-color: teal;
        color: white;
    }

    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    tr {
        page-break-inside: avoid
    }

</style>

<table style="width: 100%" class="cell-border table-bordered table-hover" id="RangeProtocol">
    <thead>
        <tr>
            <th>
                Redni broj
            </th>
            <th>
                Datum
            </th>
            <th>
               Ime pacijenta
            </th>
            <th>
                Prezime
            </th>
            <th>
                Anamenza
            </th>
            <th>
                Šifra dijagnoze
            </th>
            <th>
                Dijagnoza latinski
            </th>
            <th>
                Naziv usluge
            </th>
            @*<th>
                Pečat
            </th>*@

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Protocols)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProtocolID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.Surname)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Anamnesis.AnamnesisName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis.DiagnosisCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diagnosis.DiagnosisNameLatin)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Therapy.TherapyName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.Signet)
                </td>*@

            </tr>
        }


    </tbody>

</table>

