@model DentalInformationSystem.Models.Procurement

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Procurement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProcurmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProcurmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.AccountNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeliveryNoteNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeliveryNoteNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MerchandiseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MerchandiseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MeasureUnit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MeasureUnit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalPrice)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalPrice)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProcurmentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
