@model IEnumerable<DentalInformationSystem.Models.Procurement>

@{
    ViewData["Title"] = "Lista nabavki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Lista nabavki</h4>

<p>
    @Html.ActionLink("Dodaj novu nabavku", "Create", "Procurements", null, new { @class = "btn btn-primary" })
</p>
<table class="cell-border table-hover" width="100%" id="tblNabavka">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProcurementDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier.SupplierName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryNoteNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MerchandiseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MeasureUnit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProcurementDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeliveryNoteNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MerchandiseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeasureUnit)
                </td>
                <td>
                    @item.UnitPrice din
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @item.TotalPrice din
                </td>
                <td style="padding:5px">
                    <a asp-action="Edit" asp-route-id="@item.ProcurementID">Izmeni</a> |
                    <a asp-action="Details" asp-route-id="@item.ProcurementID">Detalji</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProcurementID">Obriši</a>
                </td>
            </tr>

        }
        

    </tbody>
    
    <tfoot style="width:100%">
        
        <tr>
            
            <th colspan="1" style="text-align:left; font-size:16px">Ukupno po računu:</th>
            <th rowspan="1"></th>
        </tr>
</table>

@*<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js">*@
</script>
@section Scripts{
    <script>


        $(document).ready(function () {
            $('#tblNabavka').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.21/i18n/Serbian_latin.json"
                },
                footerCallback: function (row, data, start, end, display) {
                    var api = this.api();
                    // Remove the formatting to get integer data for summation
                    var intVal = function (i) {

                        return typeof i === 'string' ?
                            i.replace(/[\, din]/g, '') * 1 :
                            typeof i === 'number' ?
                                i : 0;

                    };


                    if (api.column(7).data().length) {
                        var pagePrice = api
                            .column(7, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                result = intVal(a) + intVal(b);
                                return result.toFixed(2);
                            })
                    }
                    else { pagePrice = 0 };


                    $(api.column(1).footer()).html(pagePrice + ' din');
                }

            });
        });



    </script>

}