@model IEnumerable<DentalInformationSystem.Models.ExpensesType>

@{
    ViewData["Title"] = "Lista tipova rashoda";
}

<h4>Lista tipova rashoda</h4>

<p>
    @Html.ActionLink("Unesi novi tip rashoda", "Create", "ExpensesTypes", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ExpensesTypeName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExpensesTypeName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ExpensesTypeID">Izmeni</a> |
                @*<a asp-action="Details" asp-route-id="@item.ExpensesTypeID">Detalji</a> |*@
                <a asp-action="Delete" asp-route-id="@item.ExpensesTypeID">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
