@model DentalInformationSystem.Models.Expense

@{
    ViewData["Title"] = "Detalji";
}

<h1>Detalji</h1>

<div>
    <h4>Rashod</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpenseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpenseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpensesTypeID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpensesType.ExpensesTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ExpenseID"class="btn btn-secondary">Izmeni podatke o rashodu</a> |

    @Html.ActionLink("Nazad na listu rashoda", "Index", "Expenses", null, new { @class = "btn btn-secondary" })



</div>
