@model DentalInformationSystem.ViewModels.ExpensesProcurementsViewModel

@{
    ViewData["Title"] = "Rashodi";
    Layout = null;
}

<style>
    table {
        width: 100%;
    }

    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }

    th, td {
        padding: 5px;
        text-align: left;
        font-size: 20px;
        padding-right: 5px;
    }

    #ProcurementsTable tr:nth-child(even) {
        background-color: #eee;
    }

    #ProcurementsTable tr:nth-child(odd) {
        background-color: #fff;
    }

    #ProcurementsTable th, #ExpensesTable th {
        background-color: teal;
        color: white;
    }


    thead {
        display: table-header-group
    }

    tfoot {
        display: table-row-group
    }

    tr {
        page-break-inside: avoid
    }
</style>



<h1 style="text-align:center">
    Izveštaj rashoda od @Model.StartDate.ToString("dd/MM/yyyy") do @Model.EndDate.ToString("dd/MM/yyyy")
</h1>


<table align="center" style="border:black" class="table cell-border table-hover" id="ProcurementsTable">
    <thead>
        <tr>
            <th>
                Datum nabavke
            </th>
            <th>
                Naziv dobavljača
            </th>
            <th>
                Račun-otpremnica No.
            </th>
            <th>
                Naziv robe
            </th>
            <th>
                Jedinica mere
            </th>
            <th>
                Cena
            </th>
            <th>
                Količina
            </th>
            <th>
                Ukupna cena
            </th>

        </tr>

    </thead>
    <tbody>
        @{
            decimal CalculatedExpense = 0;
        }
        @foreach (var item in Model.Procurements)
        {
            CalculatedExpense += item.TotalPrice;

        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProcurementDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryNoteNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MerchandiseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MeasureUnit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UnitPrice) din
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice) din
            </td>
        </tr>
        }
    </tbody>

</table>
<table align="center" style="border:black" class="table cell-border table-hover" id="ExpensesTable">
    <thead>
        <tr>
            <th>
                Datum rashoda
            </th>
            <th>
                Tip rashoda
            </th>
            <th>
                Cena rashoda
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model.Expenses)
        {
            CalculatedExpense += item.Price;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpenseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExpensesType.ExpensesTypeName)
                </td>
                <td>
                    @item.Price din
                </td>
            </tr>


        }


    </tbody>
    <tfoot style="width:100%">
        <tr>
            <th colspan="4" rowspan="4" style="text-align:right; padding-right:10px">Ukupan rashod: @CalculatedExpense din </th>

        </tr>
    </tfoot>

</table>














