@model IEnumerable<DentalInformationSystem.Models.Therapy>

@{
    ViewData["Title"] = "Index";
}

<h1>Cenovnik</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TherapyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TherapyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TherapyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TherapyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TherapyID">Izmeni</a> |
                <a asp-action="Details" asp-route-id="@item.TherapyID">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.TherapyID">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
