@model IEnumerable<DentalInformationSystem.Models.Therapy>

@{
    ViewData["Title"] = "Cenovnik";
}

<h1>Cenovnik</h1>

<p>
    @Html.ActionLink("Unesi novu stavku u cenovnik", "Create", "Therapies", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TherapyID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TherapyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TherapyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TherapyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) din
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TherapyID">Izmeni</a> |
                @*<a asp-action="Details" asp-route-id="@item.TherapyID">Detalji</a> |*@
                <a asp-action="Delete" asp-route-id="@item.TherapyID">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
