@model IEnumerable<DentalInformationSystem.Models.Anamnesis>

@{
    ViewData["Title"] = "Anamneze";
}

<h1>Pregled anamneza </h1>

<p>
    @Html.ActionLink("Unos nove anamneze", "Create", "Anamneses", null, new { @class = "btn btn-primary" })
</p>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AnamnesisName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AnamnesisName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AnamnesisID">Izmeni</a> |
                <a asp-action="Details" asp-route-id="@item.AnamnesisID">Detalji</a> |
                <a asp-action="Delete" asp-route-id="@item.AnamnesisID">Obriši</a>
            </td>
        </tr>
}
    </tbody>
</table>
